---
const pageTitle = "Digital Garden"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/garden/">Garden</a>
    <a href="/about/">About</a>

		<h1>The Garden is Alive!</h1>
    <h2>... and my new Astro Digital Garden!</h2>

		<ul>
			<li><a href="/garden/seed-1">Seed 1</a></li>
			<li><a href="/garden/seed-2">Seed 2</a></li>
			<li><a href="/garden/seed-3">Seed 3</a></li>
		</ul>

	</body>
</html>
