---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'
const allPosts = await Astro.glob('../pages/garden/*.md')
const pageTitle = "Digital Garden"
---
<BaseLayout pageTitle={pageTitle}>
	<h2>... and my new Astro Digital Garden!</h2>

	<ul>
		{allPosts.map((post) => <BlogPost title={post.frontmatter.title} url={post.url}/>)}
	</ul>
</BaseLayout>
